*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Sansita', sans-serif;
}
/* Global CSS Styles */  


.container{
    max-width: 80%;
    margin: auto;
    padding: 10px;
}
.row{
    display: flex;
    gap: 20px;
    align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}


/* Header Styles */
main{
    background-color: #030915;
    height: 800px;
}
header > div{
    justify-content: space-between;
}
header a{
    color: #F0F0F0;
}
header img{
    position: relative;
    z-index: 1;
}
header span{
    opacity: 0;
}
.hero-text{
    color: #F0F0F0;
    z-index: 999;
    position: relative;
}
.hero-text h1{
    font-size: 6rem;
    width: 34rem;
}
.hero-text p{
    font-size: 1.5rem;
    margin: 20px 0;
    width: 20rem;
    color: #CACACA;
    line-height: 1.8rem;
}
.hero-text button{
    padding: 20px 40px;
    font-size: 1.2rem;
    background-color: transparent;
    border-radius: 12px;
    border:3px solid #F0F0F0;
    color: #F0F0F0;
}
.hero-image figure{
    position: relative;
}
.hero-image img{
    position: absolute;
}
.hero-image img:first-child{
    width: 1000px;
    top: 310px;
    left: 300px;
    z-index: 999;
}
.hero-image img:nth-child(2){
    top: -30px;
    left: 5px;
}

.hero-image img:nth-child(5){
    top: 100px;
    left: 700px;
    width: 50px;
}
.hero-image img:nth-child(3){
    top: 235px;
    right: 0px;
    width: 800px;
}
.hero-image img:nth-child(4){
    top: 600px;
    left: 120px;
    width: 100px;
}


/* gallery section */
#gallery-section{
    margin-top: 150px;
}

.gallery{
    display: grid;
    grid-template-areas: 
    "box1 box2 box3 box4 box5";
    gap: 10px;
}
.gallery > div{
    width: 160px;
    height: 110px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 2px solid #D9D9D9;
}

.gallery > div:first-child{
    grid-area: box1;
}
.gallery > div:nth-child(2){
    grid-area: box2;
}
.gallery > div:nth-child(3){
    grid-area: box3;
}
.gallery > div:nth-child(4){
    grid-area: box4;
}
.gallery > div:last-child{
    grid-area: box5;
}
.gallery h6{
    font-size: 20px;
    padding-top: 10px;
}

/* Stock-Sction */

#stock-section{
    padding-top: 130px;
    text-align: center;
}
#stock-section h1{
    font-size: 4rem;
}
#stock-section ul{
    justify-content: center;
    padding-top: 60px;
    column-gap: 45px;
}
#stock-section a{
    color: #313131;
    font-size: 24px;
} 
.car-stock{
    display: grid;
    grid-template-areas:
    "stock1 stock1 stock1 stock1"
    "stock2 stock3 stock4 stock5 " ;
    width: 90%;
    margin: auto;
    gap: 10px;
}

.car-stock > div:first-child{
    background: url(./assets/img/back.png) ;
    grid-area: stock1;
    height: 340px;
}
.initial{
    display: flex;
}
.initial h2{
    color: #F3F4F6;
    padding: 40px 30px;
    width: 300px;
    font-size: 2.5rem;
    text-align: left;
}
.initial button{
    border: 3px solid #F0F0F0;
    padding: 20px 40px;
    background-color: transparent;
    color: #F3F4F6;
    margin-left: -80px;
    border-radius: 12px;
}
.initial figure{
    position: relative;
}
.initial figure img {
    position: absolute;
    top: 50px;
}
.car-stock > div:nth-child(2){
    grid-area: stock2;
    padding: 0;
}
.secondary{
    border-radius: 15px;
    text-align: left;
    background-color: #212838;
}
.secondary img{
    width: 100%;
}
.secondary > div{
    padding: 7px 25px;
}
.secondary p{
    font-size: 1.4rem;
    color: #FFFFFF;
}
.secondary h6{
    font-size: 1.1rem;
    color: #AAAAAA;
}
.car-stock > div:nth-child(3){
    grid-area: stock3;
}.car-stock > div:nth-child(4){
    grid-area: stock4;
}
.car-stock > div:last-child{
    grid-area: stock5;
}

/* service-section */

#service-section h1{
    text-align: center;
    padding: 140px 0px;
    font-size: 4rem;
}
.service1{
    background-color: #161C28;
    width: 450px;
    padding: 60px 0 44px 53px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 480px;
}
.service1 h3{
    font-size: 2.3rem;
    color: #EBEBEB;
}
.service1 p{
    font-size: 1.5rem;
    color: #EBEBEB;
}
.service1 :nth-child(2){
    padding-top: 40px ;
    padding-bottom: 27px;
}
.service1 button{
    background: transparent;
    padding: 10px 20px 10px 0;
    border: none;
    margin-top: 30px;
    font-size: 1.5rem;
    color: #EBEBEB;
    margin-bottom: 35px;
}
.main-service{
    flex-direction: row-reverse;
    row-gap: 20px;
}


/* footer */
footer{
    background-color: #030915;
    height: 250px;
    color: #D3D3D3;
    margin-top: 140px;
}
.direction{
    padding-top: 6%;
}
footer span{
    opacity: 0;
}
.direction > div {
    margin-left: 15%;
}
footer a{
    font-size: 1.25rem;
    padding-left: 40px;
    color: #F3F4F5;
}
footer h3{
    font-size: 1.5rem;
    padding-bottom: 10px;
}
footer p{
    font-size: 1.2rem;
    padding-bottom: 6px;
}
/* mobile size */



@media (max-width:425px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html{
        font-size: 8px;
    }
    body{
        background-color: rgb(255, 255, 255);
    }
    
    main{
    background-color: #030915;
    height: 100vh;
    }
    .hero-image img{
        display: none;
    }
    .container{
        padding: 0;
        width: 100%;
    }
    header a{
    display: none;
    }
    header span{
        color: #F0F0F0;
        opacity: 100;
        padding-left: 125px;
    }

    /* gallery-section */
    .gallery{
    display: grid;
    grid-template-areas: 
    "box1 box2"
    "box3 box4"
    "box5 box5";
    column-gap: 10px;
    }

/* Stock-Sction */
    #stock-section ul{
        flex-wrap: wrap;
    }
    .car-stock{
    display: grid;
    grid-template-areas:
    "stock1 stock1"
    "stock2 stock3 "
    " stock4 stock5" ;
    width: 95%;
    margin: auto;
    gap: 5px;
    }
    .initial button{
    border: 2px solid #F0F0F0;
    padding: 15px 20px;
    background-color: transparent;
    color: #F3F4F6;
    margin-left: -130px;
    border-radius: 8px;
}   
.car-stock > div:first-child{
    background: url(./assets/img/back.png) center;
    grid-area: stock1;
    height: 300px;
}
.initial figure img {
    position: absolute;
    top: 135px;
    padding-right: 0;
    width: 300px;
    display: none;
}
/* sevice-section */
#service-section{
    width: 100%;
}
.service1{
    background-color: #161C28;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    height :250px;
    padding-left: 10px;
}
#service-section img{
    width: 185px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 16px;
}
.main-service{
    gap: 10px;
}
#service-section > div div:nth-child(2){
    gap: 10px;
}

/* footer-section */
footer{
    height: 150px;
}
.direction{
    padding-top: 6%;
}
footer nav{
    display: none;
}
footer span{
        color: #F0F0F0;
        opacity: 100;
        padding-left: 40px;
    }
}