*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Sansita', sans-serif;
}
/* Global CSS Styles */  


.container{
    max-width: 80%;
    margin: auto;
    padding: 10px;
}
.row{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}


/* Header Styles */
main{
    background-color: #030915;
    
}
header a{
    color: #F0F0F0;
}
header img{
    position: relative;
    z-index: 1;
}
.hero-text{
    color: #F0F0F0;
    z-index: 999;
    position: relative;
}
.hero-text h1{
    font-size: 6rem;
    width: 34rem;
}
.hero-text p{
    font-size: 1.5rem;
    margin: 20px 0;
    width: 20rem;
    color: #CACACA;
    line-height: 1.8rem;
}
.hero-text button{
    padding: 20px 40px;
    font-size: 1.2rem;
    background-color: transparent;
    border-radius: 12px;
    border:3px solid #F0F0F0;
    color: #F0F0F0;
    margin-bottom: 200px;
}
.hero-image figure{
    position: relative;
}
.hero-image img{
    position: absolute;
}
.hero-image img:first-child{
    width: 1000px;
    top: 310px;
    left: 300px;
}
.hero-image img:nth-child(2){
    top: 0;
    left: 0;
}